/* 
 * 00: GENERELT
 * 01: INDEX
 * 02: MENU
 * 03: 
 * 04:
 * 05:
 * 06: ANIMATIONER
 * 07: MEDIAQUERIES
 * 08: DIVERSE
*/

/*--------------IMPORT PARTIALS--------------*/
@use 'partials/gallery.scss';

/*--------------GENERELT--------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 0.8rem;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
  position: relative;
  left: 1rem;
  top: 1rem;
}

.home,
.portfolio,
.person,
.kryds1,
.kryds2,
.desk_person,
.desk_punkt,
.desk_home,
.desk_portfolio,
li,
.luk .portfolio_klonen,
.luk {
  cursor: pointer;
}

h1 {
  padding-left: 2rem;
  font-size: 2rem;
  color: #24545d;
}

h2 {
  font-family: "Libre Baskerville", serif;
  padding-left: 2rem;
  color: #dbaba2;
  font-style: italic;
}
h3 {
  font-family: "Montserrat", sans-serif;
  padding-left: 2rem;
  color: #dbaba2;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track {
  width: 0rem;
}

::selection,
::-moz-selection {
  background: #ddc9c7;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: white;
  z-index: 2;
}

footer p {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

/*--------------MENU--------------*/
.desk {
  display: none;
}

nav {
  width: 100%;
  height: 60px;
  text-align: center;
  position: fixed;
  background-color: white;
  top: 0.5rem;
  left: 0;
  z-index: 2;
}

.desk {
  z-index: 2;
  border-bottom: 1px solid black;
}

.streg {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 1rem;
  border-bottom: 1px solid black;
  pointer-events: none;
  z-index: 12;
}

nav .burger_wrap {
  z-index: 11;
}

.mobile_menu,
.desk_menu {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0;
  top: 1.3rem;
}

.desk_menu {
  font-size: 0.9rem;
}

.kryds2 {
  position: absolute;
  right: 2rem;
}

.navn {
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.35rem;
  font-weight: 400;
}

.kryds1 {
  position: absolute;
  left: 2rem;
}

.desk_person,
.desk_portfolio,
.desk_punkt {
  z-index: 13;
}

.person,
.desk_person {
  position: absolute;
  text-align: right;
  right: 0;
  letter-spacing: 2px;
  padding: 2.3rem 2rem 2.3rem 2rem;
  top: -1rem;
}

.desk_portfolio,
.portfolio {
  left: 0rem;
  padding: 2.3rem 2rem 2.3rem 2rem;
  top: -1rem;
  position: absolute;
  letter-spacing: 2px;
}

.kryds1,
.kryds2 {
  top: 0.2rem;
  transform: scale(0);
}

.home,
.desk_home {
  margin: 0 auto;
  padding-top: 0.6rem;
}

.desk_home,
.home {
  width: 100px;
}

.burger1,
.burger2 {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: white;
  margin-top: 60px;
}

.burger2 {
  right: -100vw;
}

.burger1 {
  right: 100vw;
  text-align: left;
}

.right {
  text-align: right;
}

ul {
  margin-top: 10vh;
  padding: 0;
}

nav li {
  color: black;
  padding: 1rem 2rem;
  list-style: none;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 2px;
}

.desk_right li,
.desk_left li {
  display: inline;
  font-size: 0.9rem;
  //height: 60px;
  letter-spacing: 2px;
}

.desk_right,
.desk_left {
  position: fixed;
  height: 60px;
  top: 0.4rem;
  margin-top: 0;
}

.desk_right {
  right: 0rem;
}

.desk_left {
  left: 0rem;
}

.kryds1 img,
.kryds2 img {
  padding: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
}

.kryds1 {
  left: 3rem;
}

.kryds2 {
  right: 3rem;
}

.home img,
.desk_home img {
  width: 2.5rem;
  height: 2.5rem;
}

/*--------------LOADING--------------*/

#scrollbar {
  position: fixed;
  bottom: 0;
  height: 8px;
  width: 100%;
  transform: translate(calc(-100% + var(--position) * 100%), 0);
  background-color: #f7bfb4;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #fff;
  box-shadow: inset 0 0 6px rgb(226, 192, 187);
}

.progress-bar {
  height: 8px;
  background: #dbaba2;
  width: 0%;
}

.fixed_scroll {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

/*--------------INDEX--------------*/

.scroll_to {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 1;
}

.index {
  opacity: 0;
}

#contact {
  cursor: url("/static/billeder/mail.png"), auto;
}

.index_position {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -21;
  position: relative;
  display: block;
}

#ninja {
  /* position: absolute;
    top: 27vh; */
  width: 100%;
  height: 100vh;
}

.logo {
  width: 100%;
  padding: 0 2rem;
  height: auto;
  max-height: 50vh;
}

.prov {
  position: absolute;
  top: 100vh;
  width: 100%;
}

/*--------------INDEX/OM--------------*/

.om {
  width: 100%;
  height: auto;
  min-height: 96vh;
  background-color: white;
  padding-top: 80px;
}

.year {
  letter-spacing: 3px;
}

/*--------------INDEX/PORTFOLIO--------------*/

.portfolioet {
  width: 100%;
  min-height: 96vh;
  background-color: white;
  padding-top: 80px;
}

.portfolio_liste,
.projekt_billede_liste {
  max-width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 15rem;
  margin: 0 auto;
}

.portfolio_skabelon,
.portfolio_klonen,
.pic,
.projektbillede_wrapper {
  width: 100%;
}

.portfolio_klonen {
  align-items: flex-start;
}

.projekt_billede_liste {
  padding: 2rem 0rem 0rem 3.7rem;
}

.titel {
  padding-left: 6rem;
  padding: 1.2rem 7rem 2rem 6rem;
  margin: 0;
  font-size: 1.5rem;
}

.pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.projekt_popup .projektbillede_wrapper {
  padding: 6px 0 0 6px;
}

.projektbillede_wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.portfolio_klonen {
  position: relative;
}

.portfolioet .titel_klonen {
  font-size: 0.9rem;
  margin: 0;
  padding: 1rem;
  color: black;
  height: 3rem;
  position: absolute;
  bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.hojde {
  height: 300px;
  opacity: 0;
  background: linear-gradient(0deg, rgba(228, 204, 200, 1) 20%, rgba(205, 205, 205, 0) 20%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}

.hojde:hover {
  transition: 1.5s;
  opacity: 1;
}

.projekt_popup {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;
}

.hide {
  display: none;
}

.beskrivelse_wrapper {
  height: 100%;
  width: 4rem;
  background: rgba(228, 204, 200, 1);
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 0;
}

.projekt_popup::-webkit-scrollbar,
.beskrivelse_wrapper::-webkit-scrollbar {
  display: none;
  /*width: 0px;
    background: rgba(228, 204, 200, 1);
    -webkit-box-shadow: inset 0 0 6px rgb(228, 204, 200);*/
}

.info,
.tilbage,
.luk img {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  padding: 2rem;
  width: 7rem;
  height: 7rem;
}

.luk img {
  left: auto;
  right: 0rem;
  position: fixed;
}

.beskrivelse_wrapper {
  cursor: url("/static/billeder/info_brackets_font_light_pil.png"), auto;
  overflow-x: hidden;
}

.tilbage {
  left: auto;
  right: -1rem;
  cursor: url("/static/billeder/tilbage_pil_lille.png"), auto;
}

.beskrivelse {
  color: black;
  margin-top: 6rem;
  padding: 0rem 2rem 2rem;
  overflow-y: scroll;
  opacity: 0;
  white-space: pre-wrap;
  max-width: 65ch;
  line-height: 1.3rem;
}

.beskrivelse_wrapper::-webkit-scrollbar,
.beskrivelse::-webkit-scrollbar {
  width: 0;
  display: none;
}

.live {
  padding: 2rem;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1rem;
  opacity: 0;
  text-decoration: overline;
}

.a {
  cursor: url("/static/billeder/Globe_pil.png"), auto;
}

.single {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 20;
}

.single {
  text-align: center;
}

.single .beskriv {
  max-width: 75ch;
  text-align: left;
  padding-left: 8.5vw;
  padding-right: 8.5vw;
}

.et_billede {
  margin-top: 4rem;
  width: 100%;
  height: 80%;
  object-fit: contain;
  padding: 4vh 4vw 0;
}

.tell {
  max-width: 65ch;
}

.overskrift_beskriv {
  opacity: 0;
  position: absolute;
  top: 0rem;
  left: 0rem;
}

/*--------------INDEX/CONTACT--------------*/

.contact {
  width: 100%;
  height: 75%;
  background-color: white;
}

.skriv_tekst {
  padding: 0 2rem;
  max-width: 100%;
}

.portfolioet p,
.om p {
  padding: 0 2rem;
}

/*--------------INDEX/CV-CONTACT-OLD STUFF--------------*/
.contact,
.cv {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.cv li {
  list-style: circle;
}

/*--------------ANIMATIONER--------------*/
/*til burgermenu*/
.height100 {
  transition: 0.5s;
  height: 100%;
}

.height60px {
  transition: 0.5s;
  height: 60px;
}

.height_up_down {
  animation-name: height_up_down_kf;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes height_up_down_kf {
  0% {
    height: 60px;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 60px;
  }
}

.scale_down {
  transition: 1s;
  transform: scale(0);
}

.scale_up {
  transition: 1s;
  transform: scale(1);
}

.transition_right {
  transition: 1s;
  transform: translateX(-100vw);
}

.transition_right_back {
  transition: 1s;
  transform: translateX(0vw);
}

.transition_left {
  transition: 1s;
  transform: translateX(100vw);
}

.transition_left_back {
  transition: 1s;
  transform: translateX(0vw);
}

.smooth_in {
  transition: 2s;
  opacity: 1;
}

.home_left {
  transition: 1.5s;
  transform: translateX(23vw);
}

.home_right {
  transition: 1.5s;
  transform: translateX(-23vw);
}

.home_center {
  transition: 1.5s;
  transform: translateX(0);
}

.fade_out {
  transition: 2s;
  opacity: 0;
  z-index: -1;
}

.fade_in {
  transition: 2s;
  opacity: 1;
  z-index: 15;
}

.fade_in_slow {
  transition: 2s;
  opacity: 1;
  z-index: 15;
}
.fade_out_slow {
  transition: 2s;
  opacity: 0;
  z-index: 15;
}

.fade_in_back {
  transition: 1s;
  opacity: 1;
}

.fade_in_quick {
  transition: 0.5s;
  opacity: 1;
  z-index: 15;
}

.fade_out_quick {
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
}

.scale_down_back {
  transition: 1s;
  transform: scale(0);
  z-index: -20;
}

.scale_up_front {
  transition: 1s;
  transform: scale(1);
  z-index: 20;
}

.enlarge {
  transition: 1.5s;
  width: 100%;
}

.smaller {
  transition: 1.5s;
  width: 4rem;
}

/*--------------MEDIAQUERIES--------------*/

@media (min-width: 500px) {
  #ninja {
    top: 22vh;
  }

  .navn {
    font-size: 1.7rem;
    padding-top: 2rem;
  }

  .titel {
    font-size: 2rem;
  }
}

@media (min-width: 501px) {
  .mobile_menu {
    font-size: 0.9rem;
  }
}

@media (min-width: 650px) {
  .portfolio_liste {
    grid-template-columns: repeat(3, 1fr);
  }

  .color {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%) contrast(100%) sepia(0.9) hue-rotate(320deg) saturate(40%) brightness(125%) contrast(120%);
  }

  .hojde {
    height: 200px;
    opacity: 0;
    background: linear-gradient(0deg, rgba(228, 204, 200, 1) 30%, rgba(205, 205, 205, 0) 30%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .hojde:hover + .color {
    filter: none;
  }

  .projektbillede_wrapper {
    padding: 0;
  }

  .enlarge {
    transition: 1.5s;
    width: 75vw;
  }
}

@media (min-width: 700px) {
  .mobile {
    display: none;
  }

  .desk {
    display: block;
  }

  .desk li {
    padding: 0 0 0 2rem;
  }

  .home_left {
    transition: 1.5s;
    transform: translateX(23vw);
  }

  .home_right {
    transition: 1.5s;
    transform: translateX(-23vw);
  }

  nav {
    top: 0;
  }

  .portfolioet,
  .person,
  .cv,
  .contact {
    padding-top: 60px;
  }

  .projekt_billede_liste {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1rem, 20vw);
  }
}

@media (min-width: 800px) {
  .portfolio_liste {
    grid-template-columns: repeat(4, 1fr);
  }

  .enlarge {
    transition: 1.5s;
    width: 50vw;
  }
}

@media (min-width: 900px) {
  .desk li {
    padding: 2rem 2rem;
  }

  .home_left {
    transform: translateX(23vw);
  }

  .home_right {
    transform: translateX(-23vw);
  }

  .enlarge {
    transition: 1.5s;
    width: 40vw;
  }
}

@media (min-width: 1000px) {
  .enlarge {
    transition: 1.5s;
    width: 35vw;
  }
}

@media (min-width: 1300px) {
  .projekt_billede_liste {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(1rem, 15vw);
  }
}

/*-----------------DIVERSE-------------------*/
.hide {
  display: none;
}
